### Tuple:
            - It is collection of different data items.
            - By using round brackets we can write the tuple in python.
            - tuple is immutable.

In [1]:
# Tuple initialization...
t1 = (10,20,'python',56.78)
print(t1)
print(type(t1))

(10, 20, 'python', 56.78)
<class 'tuple'>

In [3]:
# To store the single value to the tuple...
t2 = (100,)
print(t2)
print(type(t2))

(100,)
<class 'tuple'>

In [5]:
# To access the tuple values...
t1=(10,20,30,40,'python',45.67)
print(t1)
print(type(t1))
print(t1[1])

(10, 20, 30, 40, 'python', 45.67)
<class 'tuple'>
20

In [10]:
# To update the value...
print(t1)
t1 = list(t1)
print(t1)
t1[1]=100
print(t1)
t1 = tuple(t1)
print(t1)

[10, 100, 30, 40, 'python', 45.67]
[10, 100, 30, 40, 'python', 45.67]
[10, 100, 30, 40, 'python', 45.67]
(10, 100, 30, 40, 'python', 45.67)

In [12]:
# To print the tuple values using forloop?
print(t1)
for i in t1:
    print(i)

(10, 100, 30, 40, 'python', 45.67)
10
100
30
40
python
45.67

In [30]:
t1=(23,56,'python',67.90,'java',100,'Datastructure','3454')
# only to print the alphabets of string?
# output: python,java,data structure .....
for i in t1:
    i = str(i)
    if i.isalpha():
        print(i)

python
java
Datastructure

### Dictionary:
               - It is used to store the different types of data in the format of keys and values. ex: {keyname:value}
               - By using curly brackets we can write the dictionary.
               - keynames are unique.
               - duplication keynames are not allowed.
               - By using keyname we can access the dictionary value.
               - by 'dict()' to create the empty dicitonary.

In [31]:
# To create the empty dictionary?
d1 = dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [33]:
# To store the mutliple values into a dictionary..
d1 ={'name':'krishna','rollno':510,'branch':'cse'}
print(d1)
print(type(d1))

{'name': 'krishna', 'rollno': 510, 'branch': 'cse'}
<class 'dict'>

In [34]:
# To store the multiple students records?
d2 ={'name':['raju','nethra','pavan'],'rollno':[410,230,510]}
print(d2)
print(type(d2))

{'name': ['raju', 'nethra', 'pavan'], 'rollno': [410, 230, 510]}
<class 'dict'>

In [40]:
# To access the key values by using keyname?
print(d1)
print(d1['name'])
print(d2['name'])
print(d2['name'][1]) # To access the specific value...

{'name': 'krishna', 'rollno': 510, 'branch': 'cse'}
krishna
['raju', 'nethra', 'pavan']
nethra

In [42]:
# To update the specific value in a dicitonary...
print(d1)
d1['rollno']=423
print(d1)

{'name': 'krishna', 'rollno': 510, 'branch': 'cse'}
{'name': 'krishna', 'rollno': 423, 'branch': 'cse'}

In [44]:
# To add to new item into a dictionary...item ={'keyname':'value'}
print(d1)
d1['marks']=68
print(d1)

{'name': 'krishna', 'rollno': 423, 'branch': 'cse'}
{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68}

In [51]:
# To print the dicitonary of data using forloop?
print(d1)
# output: name krishna
for i in d1:
    print(i,d1[i]) # print only keynames

{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68}
name krishna
rollno 423
branch cse
marks 68

In [52]:
# To print the dictionary..
print(dir(d1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [53]:
# keys(): To print only keynames..
print(d1)
print(d1.keys())

{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68}
dict_keys(['name', 'rollno', 'branch', 'marks'])

In [54]:
# values(): To print the only values...
print(d1)
print(d1.values())

{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68}
dict_values(['krishna', 423, 'cse', 68])

In [55]:
# items(): to print the keyname and value
print(d1.items())

dict_items([('name', 'krishna'), ('rollno', 423), ('branch', 'cse'), ('marks', 68)])

In [56]:
for i,j in d1.items():
    print(i,j)
    # i -> keynames, j-> values

name krishna
rollno 423
branch cse
marks 68

In [58]:
# get() : To print the specific value based on keyname..
print(d1)
print(d1.get('branch'))

{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68}
cse

In [60]:
#setdefault(): To add new item to end of the dictionary..
print(d1)
d1.setdefault('age',25)
print(d1)

{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68}
{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68, 'age': 25}

In [62]:
# update(): To update the value..
print(d1)
d1.update({'branch':'ece'})
print(d1)

{'name': 'krishna', 'rollno': 423, 'branch': 'cse', 'marks': 68, 'age': 25}
{'name': 'krishna', 'rollno': 423, 'branch': 'ece', 'marks': 68, 'age': 25}

In [64]:
# pop(): To delete an item from a dictionary using keyname..
print(d1)
d1.pop('branch')
print(d1)

{'name': 'krishna', 'rollno': 423, 'branch': 'ece', 'marks': 68, 'age': 25}
{'name': 'krishna', 'rollno': 423, 'marks': 68, 'age': 25}

In [66]:
# popitem(): To delete the last item from a dictionary...
print(d1)
d1.popitem()
print(d1)

{'name': 'krishna', 'rollno': 423, 'marks': 68, 'age': 25}
{'name': 'krishna', 'rollno': 423, 'marks': 68}

In [67]:
# fromkeys(): TO create the new ditionary with keynames...
d5 = dict.fromkeys(['sname','sid','smarks'])
print(d5)

{'sname': None, 'sid': None, 'smarks': None}

In [69]:
# copy(): To copy the data from one dicitonary to another dictionary.
print(d1)
d3 = d1.copy()
print(d3)

{'name': 'krishna', 'rollno': 423, 'marks': 68}
{'name': 'krishna', 'rollno': 423, 'marks': 68}

In [71]:
#clear(): To clear the data from a dictionary...
print(d3)
d3.clear()
print(d3)

{'name': 'krishna', 'rollno': 423, 'marks': 68}
{}

In [72]:
L1 = ['apple','banana','mango','orange']
# output: {'apple':APPLE,'banana':'BANANA','mango':'MANGO'....}
d4 = {}
for i in L1:
    d4[i] = i.upper()
print(d4)

{'apple': 'APPLE', 'banana': 'BANANA', 'mango': 'MANGO', 'orange': 'ORANGE'}

In [73]:
s = "welcome to python workshop python welcome apssdc"
# To print the character frequency?
# output: d1 = {'w':3,.......}
d6 = {}
for i in s:
    d6[i]=s.count(i)
print(d6)

{'w': 3, 'e': 4, 'l': 2, 'c': 3, 'o': 7, 'm': 2, ' ': 6, 't': 3, 'p': 4, 'y': 2, 'h': 3, 'n': 2, 'r': 1, 'k': 1, 's': 3, 'a': 1, 'd': 1}

### task:
1. L1 = ['wipro','tcs','ibm','apssdc python']
To print the each string first character will be converted uppercase using dicitonary?
output: {'wipro':'Wipro',....}
2. d1={1:20,2:45,3:56,4:79,5:11,6:100}
- To print the only the even value of item...
- output: {1:20,3:56,6:100}

### set:
        - It is collection of different data types.
        - set is unordered and unindexed.
        - duplication of data not allowed in the set.
        - we can't access the set values..

In [74]:
# To create the empty set..
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [77]:
# To store the data into a set?
s1 ={10,20,10,30,20,100,10}
print(s1)

{100, 10, 20, 30}

In [76]:
t1 =(10,20,10,30,20,100,10)
print(t1)

(10, 20, 10, 30, 20, 100, 10)