### comprehension

* We can create a new sequence using a given python sequence
* we can reduce the lines of code

### Types
* List Comprehension
* Dictionary comprehension
* Set comprehension

In [2]:
### List comprehension

# syntax: [output-variable loop conditions]

In [3]:
# to print 1 to 10 natural numbers

for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [4]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#"hello"

for ch in "hello":
    print(ch,end=" ")

h e l l o

In [6]:
[ch for ch in "hello"]

['h', 'e', 'l', 'l', 'o']

In [7]:
# write a program to print even numbers in the range of 1 to 50
even=[]
for i in range(1,51):
    if i%2==0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [8]:
even=[i for i in range(1,51) if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [9]:
[print(i,end=" ") for i in range(1,51) if i%2==0]

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

### Dictionary comprehension

* If we write our code inside a dictionary and output is printed in dictionary format, then it is dictionary comprehension

In [11]:
# {1:1,2:4,3:9,4:16,5:25}

d=dict()
for i in range(1,6):
    d[i]=i*i
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [12]:
d1={i:i*i for i in range(1,6)}
d1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### set comprehension

In [13]:


l=[1,2,3,4,4,5,3,6,5,3]
set(l)

{1, 2, 3, 4, 5, 6}

In [14]:
l=[1,2,3,4,4,5,3,6,5,3]

s=set()
for i in l:
    if i%2!=0:
        s.add(i)
        
s

{1, 3, 5}

In [15]:
l=[1,2,3,4,4,5,3,6,5,3]

s={i for i in l if i%2!=0}
s

{1, 3, 5}

### Iterators

* Iterator in python is simply an object that can be iterated upon
* same as for loop,but difference is we can access elements as per our requirements
* iterator have 2 methods , iter(), next()

* iter() -> used to create iterator object
* next() -> returns one element at a time, iterate through all the items of iterator. will return 
StopIterationException when we reach end of the data

In [16]:
for i in range(11,21):
    print(i)

11
12
13
14
15
16
17
18
19
20

In [19]:
l=[i for i in range(11,21)]
print(l,end=" ")
l_iter=iter(l)   # creating iterator object
l_iter

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
next(l_iter)

11

In [21]:
next(l_iter)

12

### Generators

* returns an object , which we can iterate over
* in place of return will use yield
* any function which contains atleast 1 yield is considered as generator
* Uses : Easy to implement and memory efficient
* Generatos are always used in combination with an iterator

In [22]:
def sample():
    n=1
    yield n
    n+=1
    yield n
    
for i in sample():
    print(i)

1
2

In [27]:
# square of  a given number

n=int(input("enter a number: "))
def gen(n):
    while True:
        n**=2
        yield n
        
g=gen(n)
next(g)

enter a number: 8

64

In [28]:
# generator comprehension

l=[1,2,3,4,5]
g=(i**3 for i in l)
print(g)

<generator object <genexpr> at 0x000001D788F75350>

In [29]:
for i in g:
    print(i)

1
8
27
64
125