### Data Analysis with Pandas:
#### pandas introduction:
           - Pandas stands for ' python data analysis library'.
           - It is s open source library.
           - It is Excellent tool for processing and analyzing of real world data.
           - There are two main data structures in pandas.
           - 1. Series Data Structure.
           - 2. DataFrame Data Structure.
- Series Data Structure:
                : One-Dimensional ndarray with axis labels(including time Series).

- DataFrame Data Structure:
                : Two-Dimensional,Tabular data like rows and columns.

### Advantages of pandas:
            - It is mainly work with large datasets.
            - pandas have a high abstraction level than numpy.
            - which gives it is a simple interface for users to interact.
 
### installing and importing pandas:
- IDLE prefer with pip?
        pip install pandas
- importing library:
        import pandas as pd

### pandas series:
        - Creating series object using list,tuple,dict and also numpy array.
        - Create pandas series from array-like objects using pd.Series()
        
        - The number of elements in the index list is always equal to the number of elementsin the specified series.

In [1]:
import pandas as pd

In [2]:
# Creation of Series Data Structure using list..
L1 = [10,20,30,40]
sd = pd.Series(L1)
print(sd)
print(type(sd))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
# To change the index names in a Series using index?
sd.index = ['A','B','C','D']
print(sd)

A    10
B    20
C    30
D    40
dtype: int64

In [4]:
sd2=pd.Series(['ATP','GNT','VJW','HYD'],index=['A','B','C','D'])
print(sd2)

A    ATP
B    GNT
C    VJW
D    HYD
dtype: object

In [6]:
# Creation of Series data Structure using numpy array?
import numpy as np
n1 = np.array([23,56,89])
sd3 = pd.Series(n1)
print(sd3)

0    23
1    56
2    89
dtype: int32

In [7]:
# creation of series ds using Dicitonary...
d1 ={'Name':'aadyan','Rollno':510,'Branch':'CSE'}
sd4 = pd.Series(d1)
print(sd4)

Name      aadyan
Rollno       510
Branch       CSE
dtype: object

In [8]:
# creation of series ds using tuple..
t1=(10,20,30)
sd5 = pd.Series(t1)
sd5

0    10
1    20
2    30
dtype: int64

### Series indexing:

In [10]:
print(sd)

A    10
B    20
C    30
D    40
dtype: int64

In [11]:
# To access the value from a Series...
sd['A']

10

In [12]:
sd4

Name      aadyan
Rollno       510
Branch       CSE
dtype: object

In [13]:
sd4['Name']

'aadyan'

In [14]:
sd

A    10
B    20
C    30
D    40
dtype: int64

In [17]:
# TO get the multiple elements?
sd[:'C']

A    10
B    20
C    30
dtype: int64

In [22]:
sd['A':'D':2]

A    10
C    30
dtype: int64

### upadate the series Values:

In [20]:
print(sd)

A    10
B    20
C    30
D    40
dtype: int64

In [23]:
sd['A']=100
sd

A    100
B     20
C     30
D     40
dtype: int64

- using replace method to update the series values..
- syntax:
        sd.replace(to_replace=old_value,value=new_element)

In [24]:
sd

A    100
B     20
C     30
D     40
dtype: int64

In [25]:
sd = sd.replace(to_replace=30,value=500)
sd

A    100
B     20
C    500
D     40
dtype: int64

In [26]:
sd

A    100
B     20
C    500
D     40
dtype: int64

In [28]:
# To update the mutliple values..
sd = sd.replace(to_replace=[20,40],value=['apssdc','python'])
print(sd)

A       100
B    apssdc
C       500
D    python
dtype: object

### Delete the data in a series

In [29]:
print(sd)

A       100
B    apssdc
C       500
D    python
dtype: object

In [30]:
# deletion operation...
sd=sd.drop(labels=['A'])
sd

B    apssdc
C       500
D    python
dtype: object

In [31]:
sd=sd.drop(labels=['D','B'])
sd

C    500
dtype: object

In [32]:
sd5 = pd.Series('Data Analysis',index=[1,2,3,4,5,6])
sd5

1    Data Analysis
2    Data Analysis
3    Data Analysis
4    Data Analysis
5    Data Analysis
6    Data Analysis
dtype: object

In [33]:
pd.Series([10,20,30,40,50],index=np.arange(1,6))

1    10
2    20
3    30
4    40
5    50
dtype: int64

##### task1: Create Series having index values starts from 10 to 20 and values are squares of index values?

In [34]:
s=pd.Series(np.arange(10,21)**2,index=np.arange(10,21))
s

10    100
11    121
12    144
13    169
14    196
15    225
16    256
17    289
18    324
19    361
20    400
dtype: int32

In [37]:
# To get the particular index values...
# fancy indexing
s[[11,17,10,15]]

11    121
17    289
10    100
15    225
dtype: int32