- Python introduction:
            - Python is a very popular programming lanfuage.
            - It is developed by 'Guido Van Rossum ' in the year of 1991.
            - Easy to learn.
            - simple syntax.
            - It is open source.
            - It can support the object oriented programming.
            - It can accept the standard libraries.

### Python Basics:

In [1]:
print("welcome to python programming")

welcome to python programming

In [2]:
# TO join the two strings we can use '+' operators
print("python"+"programming")

pythonprogramming

In [4]:
print("apssdc"+'234')

apssdc234

In [5]:
print('apssdc',456)
# To join the interger and string we can use ','

apssdc 456

In [7]:
a = 10
print(a)
print('a')

10
a

### comments:
            - It is mainly used for the user readability of text..
            - compiler will not execute the comment section lines.
            - In python two types of comments...
            - 1. single line comments -> using '#'
            - 2. Multi line comments -> using sinlge triple quotes or double tripple quotes.
              - # addition of two numbers.
              - ''' statement1
                    statement2 '''

#### Data types:
                - Data type defines the type of the value...
                - In python 3 basic data types...
                - 1. int : To store the integer data type.
                - 2. str : To store the string data type.
                - 3. float : To store the floating data type.
- using type() method to know the data type of a value or variable.
- syntax: print(type(value/variable))

In [8]:
a = 100
print(type(a))

<class 'int'>

In [9]:
s = "python"
print(type(s))

<class 'str'>

In [10]:
n = 23.456
print(type(n))

<class 'float'>

### Type conversions:
                - To convert the data into one data type another data type.
                * int->float conversion
                * float->int conversion
                * str->int   conversion

In [14]:
# To convert the data into integer to float?
m = 456 
print(m)
print(type(m))
m = float(m)
print(type(m))
print(m)

456
<class 'int'>
<class 'float'>
456.0

In [16]:
# To convert the float data into integer?
f = 23.89
print(f)
print(type(f))
f = int(f)
print(f)
print(type(f))

23.89
<class 'float'>
23
<class 'int'>

In [18]:
# To convert the string data into integer?
s ="234"
print(s)
print(type(s))
s = int(s)
print(type(s))
print(s)

234
<class 'str'>
<class 'int'>
234

In [24]:
n = 45.6723418
# output: 45.67
# round(variable_name,number of digits)
print(round(n,2))

45.67

### input method:
                   - To take the data from the user.

- syntax:
         varibale_name = data_type(input(prompt message))
    example:
          a = int(input("enter a value"))
          f = float(input("Enter f value")
          s = str(input("Enter s value"))

In [25]:
# To read the integer data...
a = int(input("Enter a value: "))
print(a)
print(type(a))

Enter a value: 23
23
<class 'int'>

In [27]:
# TO read the float data..
f = float(input("enter f value: "))
print(f)
print(type(f))

enter f value: 34.56
34.56
<class 'float'>

In [29]:
# To read the string data...
s = input("Enter s value: ")
print(s)
print(type(s))

Enter s value: 45.6
45.6
<class 'str'>

### variable:
              - To store the data..
- Rules:
- 1. starts with alphabets,alphabets followed by digits,underscore.
- 2. To join the two words we can use underscore.
- 3. should not starts with digits,keywords,functions,special chatracters.

In [30]:
# To store the single value to different variable names?
a=b=c=d=10
print(a,b,c,d)

10 10 10 10

In [31]:
# To store the different data to different variable names?
a,b,c=12,34.5,'python'
print(a,b,c)

12 34.5 python

In [32]:
# TO read two numbers to perform the addition?
a = int(input("Enter a value: "))
b = int(input("Enter b value: "))
print('Addition is:',a+b)

Enter a value: 157
Enter b value: 678
Addition is: 835

In [33]:
# To find the simple interest?
p = int(input("Enter p value: "))
t = int(input("enter t value: "))
r = int(input("Enter r value: "))
print('simple interest is: ',p*t*r/100)

Enter p value: 10000
enter t value: 2
Enter r value: 3
simple interest is:  600.0

### Basic programs:

- To print the swapping of two numbers?
input: a=10 b=20
output: before swapping a=10 and b=20
        After swapping a=20 and b=10
- To convert the data into dollars to rupees?
- To convert the data into rupes to dollars?
- To read the one number and then print the last digit of number?
input: n=563425448
output: last digit is: 8

### operators:
                - To operates the two operands.
- In python 7 types of operators:
- 1. Arithmetic operators.(+,-,*,/,%,//(floor division),**(power)**
- 2. comparision operators.(<,<=,>,>=,!=,==)
- 3. Assignment operators.(+=,-=,*=,/=,//=,%=,**=)
- 4. Logical opeartors.(and ,or,not)
- 5. Bitwise operators.(&,|,^(x-or),left shift,right shift,negation)
- 6. memebership operators.(in,not in)
- 7. idenitity operators.(is,is not)

In [37]:
# Arithmetic operators.
# def: To calculate the simple mathematical calculations.
a= 10
b= 4
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

14
40
2.5
2
10000